.room-item { 
  padding: 10px;
  border-bottom: 1px solid #dedede;
}

.room-item:hover {
  cursor: pointer;
}

.room-item .inner-item {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-column-gap: 15px;
}

.room-item .inner-item span {
  font-weight: 500;
  color: black;
  text-transform: capitalize;
}