.outer-wrapper {
  background-color: red;
}

.main-grid {
  position: relative;
}

.sarasa {
  color: red;
}

.chat-panel {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  max-height: 100vh;
  background-color: lightcyan;
  top: 0;
  left: 100vw;
  transition: left .25s linear;
  z-index: 100;
}

.chat-panel.is-active {
  left: 0;
  transition: left .25s linear;
}

.list-container {
  max-height: calc(100vh - 70px - 70px);
  overflow: scroll;
  padding: 0 16px;
}

/* .message-list {
  max-height: calc(100vh - 70px - 70px);
  overflow: scroll;
} */