.signup-fullheight {
  height: 100vh;
  position: relative;
}

.form-wrapper {
  border-radius: 16px;
  padding: 16px 24px;
}

.sign-up-logo {
  text-align: center;
  padding: 24px 0 32px;
}

.bottom-link {
  display: block;
  margin-top: 16px;
}

@media(min-width: 768px) {
  .form-wrapper {
    max-width: 550px;
    margin: 0 auto;
  }
}